services:
  - docker
os:
  - linux
  - osx

# Build and test
language: rust
rust:
  - stable
  - nightly
  - beta

env:
  global:
  # ANNOUNCE_HOOK
  - secure: KdRENy+5Kw3Hw8DnPQGFCokLoE7ma3PSm/Prc+CV5IEnKCcz76jH8yWk6FKZjvrV46SVZfV+GCFt8/rVe5u5CBRwQqfqYz1kvGu+o9eouWNAHJ3LN9fZzsvF/pacBqEDQaTe5JUORDXeaH9VVPZjz4GTIbA0TpqvC1PpdnOaWEMApJe7vp9uA/hSLujo0v3ciZbP/NBiV7RrpXJmMAK6f9YGvJnREEiCvGfo8HysB2Q5m0iFQ+RxYqgePk7YkWabIm+nq72Ncou0VqUxDTWZLXcqgzhUkv9P3xq2TW99EG7ofN6U9h7D/LeTlKJBxqEtwKt5PYs3jb0acOTflRb0ZZE/X91UwtWJRcUt2UrLkJJY9tuauVWDki0TDHVCnJOBU4S0b9Jt7K4hmlHsRTG6tWGCm8WwlezmLBjjAgtHEri/uaLGkOJdlOSnATom+H14+c2sOBiMwE6WID6VJpc0f+fRXsnUjRd/4oCzF1B1CF3ZmJLH3WXa6hXsd02iR7wHRgZ2bQH2pdP1idPK6TvrcFSPpsqmgexkT3p1VfFRWlrSY5y1fIH6NlCtm5fr4cprujhwrufZ3Hm4BphubHmBdAeSJBBbTk5yt6Ct5ixhZfKdUobPEEy/lM9U1a0N1HyYbqlnE3odHuwGzaQLXduJ4PALnQoCYXEIAWXY/CRmZY4=
  # GITHUB_TOKEN for pages
  - secure: OfxPuInshW1OJHCngJFsf6NJXcCFRgIpvISiwOWYptQpc119xdz4yO5kRhgNMdnjwBVsa4BwtfpyfP8lNadBNRUXPE478dcz+JmlABL2j1lei80yOUIBpIIF1giMSNMtCOpZ9PiduPr8kUX5CjqKXISVTR78oY9PftOjZuuwHLoWqaZzGCsjUvgjRNmz98awdwK10xHAGikeFZjHIpDsj+sAOLsHTsYgKAcIy7xIUvoPMT4Wo/k+3Ai9fjHS3yipsvSijvTsKMGiE2sJLqXqIC6P/GD+GR6tK54NnPe0hXfGmEA9newjMOX7dhbx9PdPJLmz2Ed/HNR0fo5xEiuUX9mrKqh1hamkN+s/mPfViPcKWmEyuVzOwb9rJ8i54OSfhRHPQFNFTCNLcGFY2ullvZ7De08/vW0UBSpm1LmLaUaBTQtVkCVXeVgh/QhMuo2AV/t4TZLeDnzwI+1GEai4vLkKpsmQgxn54kokws9I4UZOG6JXrOGpQaJfW3g822uDaS0k+Ci41Z5g/lH/bu/KiPB8OsjpGNwBXL44cVqVl7iLAMnaIl5s964IDREvxZnDe8m0PlFwBXuFJFqVcCaHHnQt8+eHOYURINMidI6IYIxYw0tdig3t0ZYF57a9rIir8ZgWKgrUqVd/GGs57aEcr3SPklGEFucAtGRkwQ5gCFA=

install:
- pip install --user -U tomlq

jobs:
  include:
    # Extra deploy jobs.
    - stage: Deploy
      rust: stable
      os: linux
      env:
        - GITHUB_RELEASE=true
      script: "./build.sh"
    - stage: Deploy
      rust: stable
      os: osx
      env:
        - GITHUB_RELEASE=true
      script: "./build.sh"

    - stage: Deploy
      rust: stable
      script: "echo Deploying to Cargo"
      deploy:
        provider: cargo
        token:
          # Cargo token
          secure: lrRVuq50tL1btSKVDoF8zoPulgDEyp2bH82lS1JUsrJ92gSztO5qAJFgmolZLf19G2R1ywFk/2pUcCsJLecw41pxr8mW5MMpDHcwkrlM6TkDgvxTRFVsQFq+SPnNpiIEqUa5ErCgVL2JOkOopmrHRVcoSfuSgFU4IS0gKmX3QzrBMG6CeEeUqr1oPGfsYttBgk0hpAA7xz+Zwsf85He70//NeHOjbzEEBxnbAGa/tWgRpuWzdmiSjrn40rtFlyA5dGTGykRmlGyf5YFjRhHMlNxXhlQ21xleDHgO+UIAcJEaRhkW7nq+G3pKEXugn36wKo2UU8PZBPo19W7Cj6WHW/V8vwuM8xontzgZ4CHv7+wJzoIf+m+vj8hYadhZldlKVdCY52jZolmxPPocrAhxvBr7dPWTuntuUvV6+d2BwTBryHbWdZOl0bIg7yIiT5a9VTnvO1pCjUKUFeKBnL/l48Evi5WDadTa0DGQIjntIjoMvk6dCBdmt5sbhzUKmHBp2w0rxmiErTswLxv62R1sRI0WFqs4lqwqSByYNE8tyZXHjG9dmw8rr7J8Bl413pM4PfwZe1DUs2X4749sMHMRXlDPoXv441R7XNIugxjBaugDpJP4Df64NziaJB3eXWVv+V12oRBoL8x9VnIZHdOxUlmwUSQf4xCG1TUJR8UBAx0=
        on:
          os: linux
          tags: true

    - stage: Deploy
      language: generic
      env:
        - HUGO_VERSION="0.59.0"
      install:
        - wget -q https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_${HUGO_VERSION}_Linux-64bit.tar.gz
        - tar -xzvf hugo_${HUGO_VERSION}_Linux-64bit.tar.gz
        - mv hugo ~/bin
        - hugo version
      script:
        - pushd docs
        - hugo
        - popd
        - ls -al public
      deploy:
        provider: pages
        skip_cleanup: true
        local_dir: public
        github_token: $GITHUB_TOKEN
        keep_history: true
        on:
          tags: true

    - stage: Announce
      script: "echo Announcing on Slack"
      deploy:
        provider: script
        script: bash slack_announce.sh
        on:
          tags: true

  allow_failures:
    - rust: nightly
  fast_finish: true

deploy:
  provider: releases
  api_key:
    # Token for github release
    secure: I3mLq37E5oESPwawunOV5z/b1mLVwio2eMVlKYQz27g0D4t2J66fJx6yjYfFkKOkFDnwKJhvioiXvC2AHe8H8gMgWX5hQoh4fiwTTJq/DexjBpzgqCS4Yu3s570Qyh5OZrBQPNO58Qeo7hlXYuW5PHaBoysJM7LjJtWFaXyGoqlWmnUpHN/Ha+Ytab+OPseAoI0PNjBSUnETXkPBQvZjDz/FO+ErUbDqeqvLtUFZD7ps+FpByqV1nrWYWL0UZSj4U6AdgaNHAMQUumiOJ1iCKa+lbYf2OexuUCWSm6D3KCq1DfG2QN4HYFc12tOiRwUhq/yvi7S62NNS6rQWOq7WzxhVj845uyDgf0RnxDJFd+xVI6fHUgktCB0aLl6q2lbKQ0vXyD64nks7lnNfYM8OvU376cOX5tXAUUKusHIzenvOxq2RCZGLaoaCHPc1bpmP1dR/MrGCp+oVoO/sALYnjb+VU37mQWdqZosp64xm+wIELaf7IkRQNB8mh2ycVfQCUy7g33uimzjVTK6UUcGIB/Hmis09p9KYwzNOqJjf21NH+dVxudgDmhOsoWRkId+UrgMAfpmmxD2+jZgla2cmN2vGEO2NkYE/s9Fel2OglFHR9OyYIQLFzchSypkKfD2y3Ut+hqISTULP8tsgdKEpVp8icFR0xGy18k6qUAx5mPY=
  file_glob: true
  file: "floki-${TRAVIS_TAG}-${TRAVIS_OS_NAME}.*"
  skip_cleanup: true
  on:
    tags: true
    condition: "$GITHUB_RELEASE = true"
