[package]
name = "floki"
description = "floki aims to provide reproducible and shareable build tooling by helping you run docker containers interactively from a declarative yaml file."
repository = "https://github.com/Metaswitch/floki"
homepage = "https://metaswitch.github.io/floki/"
readme = "README.md"
keywords = ["docker"]
categories = ["command-line-utilities"]
license = "MIT"

version = "0.6.1"
authors = ["Richard Lupton <richard.lupton@gmail.com>",
           "Max Dymond <max.dymond@metaswitch.com>"]
edition = '2018'

[badges]
travis-ci = { repository = "Metaswitch/floki", branch = "master" }

[dependencies]
failure = "0.1.8"
failure_derive = "0.1.8"
log = "0.4"
quicli = "0.4"
serde = "1.0"
serde_derive = "1.0"
serde_yaml = "0.8"
structopt = "0.3"
uuid = { version = "0.8", features = ["v4"] }
yaml-rust = "0.4.4"
rust-crypto = "^0.2"
simplelog = "0.9"
nix = "0.19"
shlex = "0.1"

[dev-dependencies]
tempdir = "0.3.7"
