name: floki-ci
on:
  push:
    branches:
      - main

  pull_request:
    branches:
      # Trigger on pull requests into main
      - main
    types: [ opened, synchronize ]

jobs:
  lint:
    name: Linting and Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Install rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - name: Rust Cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - name: Run cargo clippy to pick up any errors
        run: cargo clippy --all-targets -- -Dwarnings
      - name: Check code is formatted
        run: cargo fmt -- --check

  build:
    name: Build ${{ matrix.name }}
    strategy:
      matrix:
        include:
          - name: linux-stable
            os: ubuntu-24.04
            rust: stable
            artifact_glob: floki-*.tar.gz
            artifact_name: dist-linux
            upload_artifact: true
            rpm: true
            allow_failure: false
          - name: linux-beta
            os: ubuntu-24.04
            rust: beta
            artifact_glob: floki-*.tar.gz
            artifact_name: linux-beta
            upload_artifact: false
            rpm: false
            allow_failure: false
          - name: linux-nightly
            os: ubuntu-24.04
            rust: nightly
            artifact_glob: floki-*.tar.gz
            artifact_name: linux-nightly
            upload_artifact: false
            rpm: false
            allow_failure: true
          - name: macos-stable
            os: macos-latest
            rust: stable
            artifact_glob: floki-*.zip
            artifact_name: dist-macos
            upload_artifact: true
            rpm: false
            allow_failure: false
          - name: macos-beta
            os: macos-latest
            rust: beta
            artifact_glob: floki-*.zip
            artifact_name: macos-beta
            upload_artifact: false
            rpm: false
            allow_failure: false
    uses: ./.github/workflows/build-artifacts.yml
    with:
      runner: ${{ matrix.os }}
      toolchain: ${{ matrix.rust }}
      artifact_glob: ${{ matrix.artifact_glob }}
      artifact_name: ${{ matrix.artifact_name }}
      upload_artifact: ${{ matrix.upload_artifact }}
      run_tests: true
      rpm: ${{ matrix.rpm }}
      allow_failure: ${{ matrix.allow_failure }}
      fetch_depth: '1'

  rpm:
    name: Verify RPM installation
    runs-on: ubuntu-24.04
    needs: build
    steps:
      - name: Download linux artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: dist-linux
          path: dist-linux
      - name: Install RPM
        run: |
          set -euxo pipefail
          find dist-linux -name "floki*.rpm" -exec sudo rpm -ivh {} \;
      - name: Test installation
        run: floki -V
