name: floki-ci
on:
  push:
    tags:
      # Full version
      - "[0-9]+.[0-9]+.[0-9]+"
      # Prerelease version
      - "[0-9]+.[0-9]+.[0-9]+-*"

  pull_request:
    branches:
      # Trigger on pull requests into master
      - master
    types: [ opened, synchronize ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        os:
          - ubuntu-18.04
          - macos-latest
        rust:
          - stable
          - beta
        experimental: [false]
        include:
          - os: ubuntu-18.04
            rust: nightly
            experimental: true
    steps:
      - uses: actions/checkout@v2
      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
            toolchain: ${{ matrix.rust }}
      - run: pip3 install -U tomlq
      - run: "./build.sh"
        env:
          OS_NAME: ${{ matrix.os }}
      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        if: ${{ matrix.rust == 'stable' }}
        with:
          name: stableartifacts
          path: |
            floki*.zip
            floki*.tar.gz

  publish:
    runs-on: ubuntu-18.04
    needs:
      - build
    steps:
      - uses: actions/checkout@v2
      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
      - name: Download archives
        uses: actions/download-artifact@v2
        with:
          name: stableartifacts
      - name: Publish to crates.io on tags
        uses: actions-rs/cargo@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          toolchain: stable
          command: publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.PUBLISH_SECRET }}
      - name: Dry-run publish on non-tags
        uses: actions-rs/cargo@v1
        if: startsWith(github.ref, 'refs/tags/') != true
        with:
          toolchain: stable
          command: publish
          args: --dry-run
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.PUBLISH_SECRET }}
